@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --White: #FFFFFF;
    --dark-blue-300: #0A3871;
    --light-blue-100: #F3F5FC;
    --gray-100: #CED4DA;
    --gray-400: #495057;
    --gray-500: #343A40;

    --font-primaria: "Inter", sans-serif;

    --tamanho-fonte-primaria: 2rem;
    --tamanho-fonte-secundaria: 1.5rem;
    --tamanho-fonte-terciaria: 1.25rem;
    --tamanho-fonte-quartenario: 1rem;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--light-blue-100);
    color: var(--dark-blue-300);
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 3% 0% 0% 5%;
    gap: 8%;
}

.cabecalho__texto {
    font-family: var(--font-primaria);
    font-size: var(--tamanho-fonte-primaria);
    font-weight: 600;
    text-align: center;
    color: var(--dark-blue-300);
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.container__input {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

textarea::placeholder {
    font-size: var(--tamanho-fonte-primaria);
    font-family: var(--font-primaria);
    color: var(--dark-blue-300);
}

.container__input__dados__texto {
    background-color: transparent;
    color: var(--dark-blue-300);
    width: 100%;
    height: 400px;
    font-size: var(--tamanho-fonte-primaria);
    font-weight: 300;
    font-family: var(--font-primaria);
    resize: none;
    border: none;
    outline: none;
}

.container__input__observacao {
    display: flex;
    align-items: center;
}

.container__input__observacao__imagem {
    width:3%
}

.container__input__observacao__texto {
    font-family: var(--font-primaria);
    color: var(--gray-400);
    padding-left: 5px;
}

.container__input__botao {
    display: flex;
    gap: 24px;
}

.container__input__botao__criptografar {
    box-shadow: none;
    width: 328px;
    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
    font-size: var(--tamanho-fonte-quartenario);
    font-weight: 300;
    padding: 24px;
    background-color: var(--dark-blue-300);
    color: var(--White);
    font-family: var(--font-primaria);
    text-align: center;
    cursor: pointer;
}

.container__input__botao__criptografar:hover {
    box-shadow: 0px 0px 10px 10px var(--White);
    font-size: var(--tamanho-fonte-terciaria);
}

.container__input__botao__descriptografar {
    box-shadow: none;
    width: 328px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue-300);
    font-size: var(--tamanho-fonte-quartenario);
    font-weight: 300;
    padding: 24px;
    background-color: var(--gray-100);
    color: var(--dark-blue-300);
    font-family: var(--font-primaria);
    text-align: center;
    cursor: pointer;
}

.container__input__botao__descriptografar:hover {
    box-shadow: 0px 0px 10px 10px var(--White);
    font-size: var(--tamanho-fonte-terciaria);
}

.container__output {
    width: 30%;
}

.container__output__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: var(--White); 
    width: 300px;
    height: 530px;
    border-radius: 32px;
    padding: 30px;
    gap: 32px;
}

.container__output__conteudo__texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container__output__conteudo__subtitulo {
    font-family: var(--font-primaria);
    color: var(--gray-500);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: bold;
    text-align: center;
}

.container__output__conteudo__paragrafo {
    font-family: var(--font-primaria);
    color: var(--gray-400);
    font-size: var(--tamanho-fonte-quartenario);
    text-align: center;
}

.container__output__dados {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White); 
    width: 300px;
    height: 530px;
    border-radius: 32px;
    padding: 5%;
}

.container__output__dados__texto {
    background: none;
    border: none;
    color: var(--dark-blue-300);
    width: 300px;
    height: 530px;
    font-size: var(--tamanho-fonte-primaria);
    font-weight: 300;
    font-family: var(--font-primaria);
    resize: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.container__output__dados__botao {
    box-shadow: none;
    width: 328px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue-300);
    font-size: var(--tamanho-fonte-quartenario);
    font-weight: 600;
    padding: 24px;
    background-color: var(--White);
    color: var(--dark-blue-300);
    font-family: var(--font-primaria);
    text-align: center;
    cursor: pointer;;
}

.container__output__dados__botao:hover {
    box-shadow: 0px 0px 10px 10px var(--White);
    font-size: var(--tamanho-fonte-terciaria);
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    background-color: var(--dark-blue-300);
    text-align: center;
    font-family: var(--font-primaria);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 400;
    color: var(--White);
    gap: 20px;
}

@media (max-width: 1024px) {
    .container {
        justify-content: center;
        padding: 5% 10%;
        gap: 50px;
    }

    .container__input__dados__texto, .container__output__dados__texto {
        height: 300px;
    }
}

@media (max-width: 940px) {
    .cabecalho {
        flex-direction:row;
        padding: 5% 10%;
    }

    .cabecalho__texto {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .container__input, .container__output {
        width: 100%;
        max-width: 500px;
    }

    .container__output__conteudo {
        width: auto;
        height: 100px;
        padding: 2%;
    }

    .container__input__botao {
        flex-direction: column;
        align-items: center;
    }

    .container__input__botao__criptografar, .container__input__botao__descriptografar {
        width: 100%;
    }

    .container__output__conteudo__imagem {
        display: none;
    }
}

@media (max-width: 480px) {
    :root {
        --tamanho-fonte-primaria: 1.5rem;
        --tamanho-fonte-secundaria: 1.25rem;
        --tamanho-fonte-terciaria: 1rem;
        --tamanho-fonte-quartenario: 0.875rem;
    }

    .cabecalho__texto {
        font-size: var(--tamanho-fonte-secundaria);
    }

    .container {
        padding: 5%;
        gap: 30px;
    }

    .container__input__dados__texto, .container__output__dados__texto {
        height: 200px;
    }

    .container__output__conteudo {
        width: auto;
    }

    .container__output__dados {
        width: auto;
        max-height: 300px;
    }
}